*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Rubik Mono One', sans-serif;
}
body{width: 100%;}
main{height: 100vh;
z-index: 1;}

/* Bottoni */
.header{
    position: fixed;
    height: 7vh;
    top: 2vh;
    right: 5vw;
    z-index: 2;
}
.button{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    
}
.button:hover{
    box-shadow: 0px 7px 20px black;
}
span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: black;
}
/* Sezioni immagini */
.section{    
    height: 100%;
    position: relative;
}
.bg1{ background-color: red;}
.bg2{ background-color: green;}
.bg3{ background-color: yellow;}


.titolo1{
    color: yellow;
    text-align: center;
}
.titolo2{
    color: green;
    text-align: center;
}
.block{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
img{max-width: 100%;}
h2{font-size: 2em;}
